<div class="w-full justify-center items-center my-[8vh] gap-10   flex h-[30vh]">
    <div class="h-[30vh] w-[40vh]  p-4 m-3 flex flex-col rounded-md justify-center border shadow-md items-center">
        <span class="text-2xl font-medium ">Completed</span>
        <span class="text-2xl py-2">{{completed}}</span>
    </div>
    <div class="h-[30vh] w-[40vh]  p-4 m-3 flex flex-col rounded-md justify-center border shadow-md items-center">
        <span class="text-2xl font-medium ">Pending</span>
        <span class="text-2xl py-2">{{pending}}</span>
    </div>
    <div class="h-[30vh] w-[40vh]  p-4 m-3 flex flex-col rounded-md justify-center border shadow-md items-center">
        <span class="text-2xl font-medium ">Expired</span>
        <span class="text-2xl py-2">{{expired}}</span>
    </div>

</div>
<div class="w-[70vh]">

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
            <tr class="bg-black">
                <th>Task ID</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{ task.id }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.deadline | date }}</td>
                <td>{{ task.status }}</td>
            </tr>
        </tbody>
    </table>
</div>