<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
        <div class="text-3xl text-center  font-semibold mb-6 text-[#002D62]">Register</div>
        <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
            <div class="space-y-4">
                <div>
                    <label htmlFor="username" class="block text-sm font-medium text-gray-600">
                        Username
                    </label>
                    <input [ngClass]="{
                        'border-red-500':
                          registerForm.get('name')?.errors &&
                          (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)
                      }" formControlName="name" type="text" id="name" placeholder="Enter your username"
                        class="w-full mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-4 focus:ring-blue-300" />
                </div>
                <div>
                    <label htmlFor="email" class="block text-sm font-medium text-gray-600">
                        Email
                    </label>
                    <input formControlName="email" type="text" id="email" placeholder="Enter your username"
                        [ngClass]="{
                        'border-red-500':
                          registerForm.get('email')?.errors &&
                          (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)
                      }"
                        class="w-full mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-4 focus:ring-blue-300" />
                </div>
                <div>
                    <label htmlFor="password" class="block text-sm font-medium text-gray-600">
                        Password
                    </label>
                    <input [ngClass]="{
                        'border-red-500':
                          registerForm.get('password')?.errors &&
                          (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)
                      }" formControlName="password" type="password" placeholder="Enter your password"
                        class="w-full mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-4 " />
                </div>
                <div class="text-red-600 text-center" *ngIf="error.length > 0">{{error}}</div>
                <button
                    class="w-full py-2 px-4 bg-[#002D62] text-white rounded-md hover:bg-white hover:text-[#002D62] hover:border-[#002D62] hover:border focus:outline-none focus:ring focus:border-blue-300">Register</button>
                <div class="text-end text-[#002D62] font-medium">
                    <a href="/login">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>