<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
        <div class="text-3xl text-center  font-semibold mb-6 text-[#002D62]">LOGIN</div>
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
            <div class="space-y-4">
                <div>
                    <label htmlFor="email" class="block text-sm font-medium text-gray-600">
                        Email
                    </label>
                    <input type="text" id="email" placeholder="Enter your Email" formControlName="email" [ngClass]="{
                        'border-red-500':
                          loginForm.get('email')?.errors &&
                          (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
                      }"
                        class="w-full mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-4 focus:ring-blue-300" />
                </div>
                <div>
                    <label htmlFor="password" class="block text-sm font-medium text-gray-600">
                        Password
                    </label>
                    <input type="password" formControlName="password" placeholder="Enter your password"
                    [ngClass]="{
                        'border-red-500':
                          loginForm.get('password')?.errors &&
                          (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
                      }"
                        class="w-full mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-4 " />
                </div>
                <div class="text-red-600 text-center" *ngIf="error.length > 0">{{error}}</div>
                <button
                    class="w-full py-2 px-4 bg-[#002D62] text-white rounded-md hover:bg-white hover:border-[#002D62] hover:border hover:text-[#002D62] focus:outline-none focus:ring focus:border-blue-300">Login</button>
                <div class="text-end text-[#002D62] font-medium">
                    <a href="/register">Register</a>
                </div>
            </div>
        </form>
    </div>
</div>