<app-header></app-header>

<div class="flex pt-8 justify-center">
  <div class="w-full md:w-1/2 flex flex-col md:flex-row text-center gap-10 px-5">
    <div class="w-full py-10 rounded-md shadow-md">
      <div class="text-2xl font-medium">Completed</div>
      <div class="text-2xl py-2">{{ completed }}</div>
    </div>
    <div class="w-full py-10 rounded-md shadow-md">
      <div class="text-2xl font-medium">Pending</div>
      <div class="text-2xl py-2">{{ pending }}</div>
    </div>
    <div class="w-full py-10 rounded-md shadow-md">
      <div class="text-2xl font-medium">Expired</div>
      <div class="text-2xl py-2">{{ expired }}</div>
    </div>
  </div>
</div>

<div class="flex justify-end px-16">

  <button (click)="createTask()"
    class="py-2 px-4 bg-[#002D62] text-white rounded-md hover:bg-white hover:text-[#002D62] hover:border-fbg-fuchsia-950 hover:border-1 focus:outline-none focus:ring focus:border-blue-300">
    Create Task
  </button>
</div>


<div class="flex items-center justify-center py-10 px-5">
  <ag-grid-angular class="self-center items-center w-[95%] ag-theme-quartz" [pagination]="pagination"
    [paginationPageSize]="paginationPageSize" [paginationPageSizeSelector]="paginationPageSizeSelector"
    [rowData]="rowData" [columnDefs]="attributes" style="height: 30rem">
  </ag-grid-angular>
</div>