<app-header></app-header>

<div class="w-full justify-center items-center my-[8vh] gap-10 flex h-[30vh]">
  <div class="h-[30vh] w-[40vh]  p-4 m-3 flex flex-col rounded-md justify-center border shadow-md items-center">
    <span class="text-2xl font-medium ">Completed</span>
    <span class="text-2xl py-2">{{completedTasks.length}}</span>
  </div>
  <div class="h-[30vh] w-[40vh]  p-4 m-3 flex flex-col rounded-md justify-center border shadow-md items-center">
    <span class="text-2xl font-medium ">Pending</span>
    <span class="text-2xl py-2">{{pendingTasks.length}}</span>
  </div>
  <div class="h-[30vh] w-[40vh]  p-4 m-3 flex flex-col rounded-md justify-center border shadow-md items-center">
    <span class="text-2xl font-medium ">Expired</span>
    <span class="text-2xl py-2">{{expiredTasks.length}}</span>
  </div>
</div>


<div class="flex items-center justify-center mb-[8vh]  ">
  <mat-form-field appearance="fill">
    <mat-label>Select Task Type</mat-label>
    <mat-select   [(value)]="status" (selectionChange)="onStatusChange($event)">
      <mat-option value="pending" >Pending</mat-option>
      <mat-option value="completed">Completed</mat-option>
      <mat-option value="expired">Expired</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="flex items-center justify-center">
  <ag-grid-angular class="self-center items-center mb-[10vh]  w-[75rem] ag-theme-quartz"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    style="height: 30rem;">
  </ag-grid-angular>
</div>

