<app-header></app-header>

<div class="flex pt-8 justify-center">
  <div class="w-full md:w-1/2 flex flex-col md:flex-row text-center gap-10 px-5">
    <div class="w-full py-10 rounded-md shadow-md">
      <div class="text-2xl font-medium">Completed</div>
      <div class="text-2xl py-2">{{ completedTasks.length }}</div>
    </div>
    <div class="w-full py-10 rounded-md shadow-md">
      <div class="text-2xl font-medium">Pending</div>
      <div class="text-2xl py-2">{{ pendingTasks.length }}</div>
    </div>
    <div class="w-full py-10 rounded-md shadow-md">
      <div class="text-2xl font-medium">Expired</div>
      <div class="text-2xl py-2">{{ expiredTasks.length }}</div>
    </div>
  </div>
</div>

<div class="flex items-center justify-center py-10  ">
  <mat-form-field appearance="fill">
    <mat-label>Select Task Type</mat-label>
    <mat-select   [(value)]="status" (selectionChange)="onStatusChange($event)">
      <mat-option value="pending" >Pending</mat-option>
      <mat-option value="completed">Completed</mat-option>
      <mat-option value="expired">Expired</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="flex items-center justify-center">
  <ag-grid-angular class="self-center items-center mb-[10vh]  w-[75rem] ag-theme-quartz"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    style="height: 30rem;">
  </ag-grid-angular>
</div>

